{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
    {% import _self as helpers %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">{{ version }}</li>
            <li class="breadcrumb-item active">Locations</li>
        </ol>
    </nav>

    <h1>Locations</h1>
    {% if regions|length > 1 %}
        <ul class="nav nav-tabs" role="tablist">
            {% for region in regions %}
                <li class="nav-item">
                    <a class="nav-link{% if loop.first %} active{% endif %}"
                       id="pkt-location-index-tabs-{{ region.slug }}"
                       data-toggle="tab" href="#pkt-location-index-region-{{ region.slug }}" role="tab"
                       aria-controls="pkt-location-index-region-{{ region.slug }}"{% if loop.first %} aria-selected="true"{% endif %}>
                        {{ region.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="tab-content">
        {% for region in regions %}
            <div class="tab-pane{% if loop.first %} show active{% endif %}"
                 id="pkt-location-index-region-{{ region.slug }}" role="tabpanel"
                 aria-labelledby="pkt-location-index-tabs-{{ region.slug }}">
                {% if regions|length > 1 %}
                    <h2>{{ region.name }}</h2>
                {% endif %}

                {# Maps #}
                <div class="pkt-location-index-maps">
                    {% for map in region.maps %}
                        <div>
                            <div class="card">
                                <a class="stretched-link" href="#" data-toggle="modal"
                                   data-target="#pkt-locations-map-{{ map.slug }}">
                                    <img class="card-img-top" src="{{ asset('build/static/map/'~map.url) }}">
                                </a>
                                <div class="card-footer">
                                    {{ map.name }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <ul class="pkt-location-index-list">
                    {% for location in locations[region.slug] if location.superLocation is null %}
                        {{ helpers.location_tree(location, version) }}
                    {% endfor %}
                </ul>

                {# Big maps #}
                {% for map in region.maps %}
                    <div class="modal fade" id="pkt-locations-map-{{ map.slug }}" tabindex="-1" role="dialog"
                         aria-labelledby="pkt-locations-map-{{ map.slug }}-title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="pkt-locations-map-{{ map.slug }}-title">
                                        {{ map.name }}
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ location_maps[map.slug]|location_map(link=true) }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('location_index') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('location_index') }}
{% endblock %}

{% macro location_tree(location, version) %}
    {% import _self as helpers %}
    <li>
        <a href="{{ path('location_view', {'versionSlug': version.slug, 'locationSlug': location.slug}) }}">
            {{ location.name }}
        </a>
        {% if location.subLocations is not empty %}
            <ul>
                {% for sub_location in location.subLocations %}
                    {{ helpers.location_tree(sub_location, version) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
