{% extends 'base.html.twig' %}
{% import '_macros/datatable.html.twig' as datatable %}

{% block title %}Locations - {{ location.name }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">{{ version }}</li>
            <li class="breadcrumb-item">
                <a href="{{ path('location_index', {'versionSlug': version.slug}) }}">Locations</a>
            </li>
            <li class="breadcrumb-item active">{{ location.name }}</li>
        </ol>
    </nav>

    <h1>{{ location.name }}</h1>
    {% if location.areas|length > 1 %}
        <ul class="nav nav-tabs" role="tablist">
            {% for area in location.areas %}
                <li class="nav-item">
                    <a class="nav-link{% if loop.first %} active{% endif %}" id="pkt-location-view-tabs-{{ area.slug }}"
                       data-toggle="tab" href="#pkt-location-view-area-{{ area.slug }}" role="tab"
                       aria-controls="pkt-location-view-area-{{ area.slug }}"{% if loop.first %} aria-selected="true"{% endif %}>
                        {{ area.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="tab-content">
        {% for area in location.areas %}
            <div class="tab-pane{% if loop.first %} show active{% endif %}" id="pkt-location-view-area-{{ area.slug }}"
                 role="tabpanel" aria-labelledby="pkt-location-view-tabs-{{ area.slug }}">
                {% if location.areas|length > 1 %}
                    <h2>{{ area.name }}</h2>
                {% endif %}

                {{ datatable.datatable(encounter_tables[area.slug], 'pkt-location-view-encounters-'~area.slug) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('location_view') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('location_view') }}
{% endblock %}
