{% extends '@JsonSchema/schema/type/type.html.twig' %}
{# /** @var \DragoonBoots\JsonSchemaBundle\Schema\Type\AbstractSchemaNumberType schema */ #}

{% block basics %}
    {% import '@JsonSchema/schema/type/type.html.twig' as typeHelpers %}

    <table class="jsb--infolist">
        {% if schema.minimum is not null
            or schema.exclusiveMinimum is not null
            or schema.maximum is not null
            or schema.exclusiveMaximum is not null %}
            <tr>
                <th>Property count range</th>
                <td>
                    {% if schema.exclusiveMinimum is not null %}
                        <code>{{ schema.exclusiveMinimum }}</code>
                        &lt;
                    {% elseif schema.minimum is not null %}
                        <code>{{ schema.minimum }}</code>
                        &le;
                    {% endif %}
                    <var>count</var>
                    {% if schema.exclusiveMaximum is not null %}
                        &lt;
                        <code>{{ schema.exclusiveMaximum }}</code>
                    {% elseif schema.maximum is not null %}
                        &le;
                        <code>{{ schema.maximum }}</code>
                    {% endif %}
                    <table class="jsb--infolist">
                        {% if schema.minimum is not null %}
                            <tr id="{{ typeHelpers.getId(path|default(['requirements']), 'minimum') }}">
                                <th><code>minimum</code></th>
                                <td><code>{{ schema.minimum }}</code></td>
                            </tr>
                        {% endif %}
                        {% if schema.exclusiveMinimum is not null %}
                            <tr id="{{ typeHelpers.getId(path|default(['requirements']), 'exclusiveMinimum') }}">
                                <th><code>exclusiveMinimum</code></th>
                                <td><code>{{ schema.exclusiveMinimum }}</code></td>
                            </tr>
                        {% endif %}
                        {% if schema.maximum is not null %}
                            <tr id="{{ typeHelpers.getId(path|default(['requirements']), 'maximum') }}">
                                <th><code>maximum</code></th>
                                <td><code>{{ schema.maximum }}</code></td>
                            </tr>
                        {% endif %}
                        {% if schema.exclusiveMaximum is not null %}
                            <tr id="{{ typeHelpers.getId(path|default(['requirements']), 'exclusiveMaximum') }}">
                                <th><code>exclusiveMaximum</code></th>
                                <td><code>{{ schema.exclusiveMaximum }}</code></td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        {% endif %}
        {% if schema.multipleOf is not null %}
            <tr id="{{ typeHelpers.getId(path|default(['requirements']), 'multipleOf') }}">
                <th><code>multipleOf</code></th>
                <td><code>{{ schema.multipleOf }}</code></td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
