{% extends '@JsonSchema/base.html.twig' %}

{% block nav %}
    {% import _self as helpers %}
    <ul class="nav">
        {% if schema.examples %}
            <li class="nav-item">
                <a class="nav-link" href="#examples">Examples</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#requirements">Requirements</a>
            {{ helpers.requirementsTree(requirements_tree, ['requirements']) }}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#json">JSON</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    {% import '@JsonSchema/schema/type/type.html.twig' as typeHelpers %}
    <div class="jsb--schema--show--title">
        <h1>{{ schema.title }}</h1>
        <div class="jsb--schema--show--type">"type": "{{ schema.type }}"</div>
    </div>

    {# Description #}
    <div class="jsb--schema--show--description">
        {{ schema.htmlDescription|raw }}
    </div>

    {%- set schemaMap = {
        'integer': '@JsonSchema/schema/type/number.html.twig',
        'number': '@JsonSchema/schema/type/number.html.twig',
        'array': '@JsonSchema/schema/type/array.html.twig',
        'object': '@JsonSchema/schema/type/object.html.twig',
        'string': '@JsonSchema/schema/type/string.html.twig',
    } -%}
    {% if schema.type is null and schema.combinationType is defined %}
        {%- set template = '@JsonSchema/schema/type/combination.html.twig' -%}
    {% elseif schemaMap[schema.type] is defined %}
        {%- set template = schemaMap[schema.type] -%}
    {% else %}
        {%- set template = _self -%}
    {% endif %}
    {{ typeHelpers.renderBasics(schema, ['basics'], block('basics', template)) }}

    {# Requirements #}
    <h2 id="requirements">Requirements</h2>
    <div class="jsb--schema--show--requirements">
        {{ typeHelpers.renderSchema(schema, ['requirements']) }}
    </div>

    {# JSON #}
    <h2 id="json">JSON</h2>
    <div class="jsb--schema--show--json">
        <pre><code>{{ json|e }}</code></pre>
    </div>
{% endblock %}

{% macro requirementsTree(tree, path) %}
    {% import _self as helpers %}
    {% import '@JsonSchema/schema/type/type.html.twig' as typeHelpers %}
    {% if tree %}
        <ul class="nav">
            {% for name, branch in tree %}
                {%- set id = typeHelpers.getId(path, name) -%}
                <li id="{{ id }}" class="nav-item">
                    <a class="nav-link" href="#{{ id }}" style="margin-left: {{ path|length }}rem;">
                        {{ name }}
                    </a>
                    {{ helpers.requirementsTree(branch, path|merge([name]) ) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
