{% import _self as helpers %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ asset('bundles/jsonschema/json-schema-bundle.css') }}">

    <title>{% block title %}Schemas{% endblock %}</title>
</head>
<body>
{# Top bar #}
<div class="navbar navbar-expand-lg jsb--navbar">
</div>

{# Container #}
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        {# Left sidebar #}
        <div class="col-12 col-md-3 col-xl-2 jsb--sidebar jsb--nav">
            <nav>
                <h2><a href="{{ path('json_schema_schema_index') }}">Schemas</a></h2>
                {{ helpers.sidebarNav(schemas|default([]), schema|default(null)) }}
            </nav>
        </div>

        {# Right sidebar #}
        <nav id="page-nav" class="d-none d-xl-block col-xl-2 jsb--sidebar jsb--page-nav">
            {% block nav %}
            {% endblock %}
        </nav>

        {# Content #}
        <main class="col-12 col-md-9 col-xl-8 jsb--content">
            {% block body %}
            {% endblock %}
        </main>
    </div>
</div>

<script src="{{ asset('bundles/jsonschema/json-schema-bundle.js') }}"></script>
</body>
</html>

{% macro sidebarNav(schemas, current = null, path = []) %}
    {% import _self as helpers %}
    {# /** @var \DragoonBoots\JsonSchemaBundle\Schema\Type\SchemaObject[]|array[] schemas **/ #}
    {# /** @var \DragoonBoots\JsonSchemaBundle\Schema\Type\SchemaObject|null current **/ #}

    <h3>/{{ path|join('/') }}</h3>
    <ul class="nav">
        {% for key, list_schema in schemas %}
            <li class="nav-item">
                {% if list_schema is schema_type %}
                <a class="nav-link{% if current is not null and list_schema.id == current.id %} active{% endif %}"
                   href="{{ path('json_schema_schema_show', {'relPath': list_schema.relativeId(false)}) }}">
                    {{ list_schema.title }}
                    {% else %}
                        {# This is the start of a new branch #}
                        {{ helpers.sidebarNav(list_schema, current, path|merge([key])) }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
