<{{ list_tag }}{% if list_class %} class="{{ list_class }}"{% endif %}>
{% for item in items %}
    {# Output items raw as they are escaped inside the column transformation. #}
    <li{% if list_item_class %} class="{{ list_item_class }}"{% endif %}>{{ item|raw }}</li>
{% endfor %}
</{{ list_tag }}>
