{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">{{ version }}</li>
            <li class="breadcrumb-item active">Types</li>
        </ol>
    </nav>

    <h1>Types</h1>
    <div class="table-responsive">
        <table class="table pkt-type-index-typechart">
            <thead>
            <tr>
                <th>
                    Defending&nbsp;&rarr;<br>
                    Attacking&nbsp;&darr;
                </th>
                {% for type in types|filter(type => type.hidden == false) %}
                    <th class="pkt-type-index-typechart-defending">{{ type|type_emblem }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for attackingType in types|filter(attackingType => attackingType.hidden == false) %}
                <tr>
                    <th class="pkt-type-index-typechart-attacking">{{ attackingType|type_emblem }}</th>
                    {% for defendingType in types|filter(defendingType => defendingType.hidden == false) %}
                        {% set efficacy = type_chart.efficacyForMatchup(attackingType, defendingType) %}
                        <td class="pkt-type-index-typechart-efficacy{% if defendingType == attackingType %} pkt-type-index-typechart-sametype{% endif %}">
                            {{ efficacy|type_efficacy }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# Contest types, if applicable #}
    {% if contest_types %}
        <h2>Contest Types</h2>
        <ul class="list-inline">
            {% for type in contest_types %}
                <li class="list-inline-item">{{ type|type_emblem }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('type_index') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('type_index') }}
{% endblock %}
