<a href="#" class="pkt-icon pkt-icon-encountercondition-{{ value.condition.slug }}-{{ value.slug }}"
   data-toggle="tooltip" title="{{ value.name }}">
    {{ asset_inline('build/static/encounter_condition_state/'~value.condition.slug~'_'~value.slug~'.svg')|raw }}
    <span class="sr-only">{{ value.name }}</span>
</a>
