{% set active_version = version.slug|default(default_version) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ app_name }} - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('other') }}
    {% endblock %}
    {% block head %}{% endblock %}
</head>

<body{% if version is defined %} data-active-version="{{ version.slug }}"{% endif %}{% if uri_template is defined %} data-uri-template="{{ uri_template }}"{% endif %}>
{# Navbar #}
{{ include('_base_parts/navbar.html.twig') }}

{# Flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{# Main content #}
<main class="container">
    {% block body %}{% endblock %}
</main>

{# Footer #}
<footer>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom">
        {{ knp_menu_render('footer') }}
        <p class="navbar-text ml-auto">Release: {{ app_version }}</p>
    </nav>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('other') }}
{% endblock %}
</body>
</html>
