{% set active_version = version.slug|default(default_version) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e3350d">
    <meta name="apple-mobile-web-app-title" content="Pok&egrave;tools">
    <meta name="application-name" content="Pok&egrave;tools">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>{{ app_name }} - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('other') }}
    {% endblock %}
    {% block head %}{% endblock %}
</head>

<body{% if version is defined %} data-active-version="{{ version.slug }}"{% endif %}{% if uri_template is defined %} data-uri-template="{{ uri_template }}"{% endif %}>
<div class="content-wrapper">
    {# Navbar #}
    {{ include('_base_parts/navbar.html.twig') }}

    {# Flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# Main content #}
    <main class="container">
        {% block body %}{% endblock %}
    </main>

    {# Footer #}
    <footer>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            {{ knp_menu_render('footer') }}
            <p class="navbar-text my-0 ml-auto">Release: {{ app_version }}</p>
        </nav>
    </footer>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('other') }}
{% endblock %}
</body>
</html>
